body{
    top: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:lavender;
}

.tituloo{
    text-align: center;
    font-size: 40px;
}
.titulo{
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
}
.caixa{
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    text-align: justify;
    margin: 50px auto;
    padding: 30px;
    transition: transform 0.3s ease;
}
.caixa:hover{
    transform: scale(1.1);
}
.rainbow {
    display: inline-block;
    animation: rainbowShift 5s linear infinite;
    color: red;
  }
 

  @keyframes rainbowShift {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

.caixona{
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) ;
  border-radius:100px;
  margin: 40px;
}
